# Tidy Data with Pandas

In [ ]:
import pandas as pddf.tail()

df = pd.read_pickle('data/all_years.pkl')
df.head()

In [ ]:
df.tail()

## Making Our Data Tidy

In [ ]:
help(pd.melt)

In [ ]:
df_long = df.melt(id_vars=['branch', 'address', 'city', 'zip code', 'ytd', 'year'],
                    value_vars=['january', 'february', 'march', 'april', 'may', 'june', 
                                'july', 'august', 'september', 'october', 'november', 'december'],
                    var_name='month', value_name='circulation')

In [ ]:
df_long['branch'].unique()

In [ ]:
df_long[df_long['circulation'] > 10000]

In [ ]:
df_long[['branch', 'circulation']]

In [ ]:
df_long.sort_values('circulation', ascending=False)

In [ ]:
df_long.groupby('branch')['circulation'].agg(total_circulation='sum', mean_circulation='mean')

In [ ]:
df_long.groupby(['branch', 'month'])['circulation'].agg(['sum', 'mean'])

## Adding a Date Column

In [ ]:
df_long['date'] = df_long['year'] + '-' + df_long['month']

In [ ]:
df_long['date'] = pd.to_datetime(df_long['date'], format='%Y-%B')

In [ ]:
df_long['date']

In [ ]:
df_long.info()

In [ ]:
df_long.set_index('date', inplace=True)

In [ ]:
df_long.to_pickle('data/df_long.pkl')